**TRABAJO FINAL - JUAN CARLOS GONZALEZ**

**Para el trabajo final, se está utilizando la base de datos de migración y población de Worldbank 1960-2018**. 

Se utilizará la base de datos del siguiente link de Kaggle (página recomendada por la profesora) : https://www.kaggle.com/eliasdabbas/migration-data-worldbank-1960-2018

Se descargará la información, y se realizará modificaciones y gráficos para demostrar todo lo aprendido durante el curso

**CARGAR LA BASE DE DATOS DESDE GITHUB**

In [64]:
import pandas as pd
url = 'https://raw.githubusercontent.com/jcgcjuan/trabajo-final-python/main/migration_population.csv'
df2  = pd.read_csv(url)
df2.head()#con esto se comprueba que está leyendo el archivo, al pedirle que muestre las 5 primeras líneas

,country,year,population,pop_density,net_migration,migration_perc,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,Arab World,2018,419790588.0,37.372365,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
1,Arab World,2017,411898965.0,36.669804,-1408824.0,-0.00342,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
2,Arab World,2016,404024433.0,35.968764,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
3,Arab World,2015,396028278.0,35.256897,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN
4,Arab World,2014,387907748.0,34.533978,NaN,NaN,ARB,1A,Aggregates,NaN,Aggregates,Aggregates,NaN,NaN,NaN

**EXPLORACION DE BASE DE DATOS**

Ahora vamos a explorar la base de datos, de esta manera conocer más sobre las variables, y el número de casos que tenemos.

In [65]:
df2.info()
## Obtenemos información general de toda la base de datos, desde el número de variables hasta el número de casos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15576 entries, 0 to 15575
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         15576 non-null  object
 1   year            15576 non-null  int64
 2   population      15409 non-null  float64
 3   pop_density     14830 non-null  float64
 4   net_migration   2868 non-null   float64
 5   migration_perc  2865 non-null   float64
 6   iso3c           15458 non-null  object
 7   iso2c           15399 non-null  object
 8   region          15458 non-null  object
 9   adminregion     8142 non-null   object
 10  incomeLevel     15458 non-null  object
 11  lendingType     15458 non-null  object
 12  capitalCity     12449 non-null  object
 13  longitude       12449 non-null  float64
 14  latitude        12449 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 1.8+ MB

Descripción de las variables:

In [66]:
df2.shape  #esta es otra manera de obtener información de número de datos y número de variables

(15576, 15)

In [67]:
df2.describe() #medición de valores centrales. Aquí lo más importante sería ver la población, la densidad poblacional y el porcentaje de migración.

,year,population,pop_density,net_migration,migration_perc,longitude,latitude
count,15576.000000,1.540900e+04,14830.000000,2.868000e+03,2865.000000,12449.000000,12449.000000
mean,1989.000000,2.078865e+08,278.373842,-2.729311e+05,-0.001685,19.139549,18.889009
std,17.029933,6.867796e+08,1438.512810,2.462397e+06,0.050332,70.226888,24.154407
min,1960.000000,3.893000e+03,0.098625,-2.334862e+07,-0.263518,-175.216000,-41.286500
25%,1974.000000,9.268410e+05,19.683859,-1.617038e+05,-0.013752,-15.180400,4.174200
50%,1989.000000,6.418773e+06,51.760036,-1.081700e+04,-0.002204,19.259500,17.300000
75%,2004.000000,4.244904e+07,126.598486,2.681925e+04,0.005838,50.535400,40.049500
max,2018.000000,7.594270e+09,21389.100000,2.339235e+07,0.787035,179.089567,64.183600

In [68]:
df2.nunique() #con esto podemos analizar rapidamente cuántos valores únicos tiene cada variable. De esta manera podemos entender también cuántas categorías tienen las variables no numéricas.

country             264
year                 59
population        15221
pop_density       14700
net_migration      2533
migration_perc     2756
iso3c               262
iso2c               261
region                8
adminregion           6
incomeLevel           5
lendingType           5
capitalCity         211
longitude           211
latitude            211
dtype: int64

**HACIENDO SUBSETS**

1) Debido a que la base de datos es bien grande, y realmente lo que buscamos es hacer una comparación simple pero interesante, en primer lugar, vamos a quedarnos con las variables relacionadas directamente a población, condición económica y migración.

In [69]:
nomb_variables = df2.columns
print(nomb_variables) #primero vemos los nombres de cada variable para saber con qué quedarnos

Index(['country', 'year', 'population', 'pop_density', 'net_migration',
       'migration_perc', 'iso3c', 'iso2c', 'region', 'adminregion',
       'incomeLevel', 'lendingType', 'capitalCity', 'longitude', 'latitude'],
      dtype='object')

In [70]:
#vamos eliminando las variables innecesarias
columnas = ["country", "region", "year", "population", "pop_density", "net_migration", "migration_perc", "incomeLevel" ]
migra = df2.loc[:, columnas]
migra

,country,region,year,population,pop_density,net_migration,migration_perc,incomeLevel
0,Arab World,Aggregates,2018,419790588.0,37.372365,NaN,NaN,Aggregates
1,Arab World,Aggregates,2017,411898965.0,36.669804,-1408824.0,-0.003420,Aggregates
2,Arab World,Aggregates,2016,404024433.0,35.968764,NaN,NaN,Aggregates
3,Arab World,Aggregates,2015,396028278.0,35.256897,NaN,NaN,Aggregates
4,Arab World,Aggregates,2014,387907748.0,34.533978,NaN,NaN,Aggregates
...,...,...,...,...,...,...,...,...
15571,Zimbabwe,Sub-Saharan Africa,1964,4322861.0,11.174515,NaN,NaN,Lower middle income
15572,Zimbabwe,Sub-Saharan Africa,1963,4178726.0,10.801928,NaN,NaN,Lower middle income
15573,Zimbabwe,Sub-Saharan Africa,1962,4039201.0,10.441259,-15009.0,-0.003716,Lower middle income
15574,Zimbabwe,Sub-Saharan Africa,1961,3905034.0,10.094440,NaN,NaN,Lower middle income
15575,Zimbabwe,Sub-Saharan Africa,1960,3776681.0,NaN,NaN,NaN,Lower middle income

2) En segundo lugar, luego de haber escogido las variables importantes, buscamos también qué casos serán de nuestro interés. Para nuestra comparación, vamos a elegir los casos que pertenezcan a las regiones de America del Norte y Europa

In [71]:
migra['region'].value_counts() #para saber qué categorías tenía la variable región

Europe & Central Asia         3422
Sub-Saharan Africa            2832
Aggregates                    2655
Latin America & Caribbean     2478
East Asia & Pacific           2183
Middle East & North Africa    1239
South Asia                     472
North America                  177
Name: region, dtype: int64

In [72]:
migra_2 = migra.set_index(["region", "country"]).sort_index() #vamos a poner como index a la región, y los países. De esta manera luego podremos filtrar los casos en base a ello.
migra_2

                               year   population  pop_density  net_migration  \
region     country
Aggregates Arab World          2018  419790588.0    37.372365            NaN
           Arab World          2017  411898965.0    36.669804     -1408824.0
           Arab World          2016  404024433.0    35.968764            NaN
           Arab World          2015  396028278.0    35.256897            NaN
           Arab World          2014  387907748.0    34.533978            NaN
...                             ...          ...          ...            ...
NaN        Sub-Saharan Africa  1964  249873743.0    11.763087            NaN
           Sub-Saharan Africa  1963  243893426.0    11.481557            NaN
           Sub-Saharan Africa  1962  238121698.0    11.209846      -396911.0
           Sub-Saharan Africa  1961  232567038.0    10.948355            NaN
           Sub-Saharan Africa  1960  227233223.0          NaN            NaN

                               migration_perc incomeLevel
region     country
Aggregates Arab World                     NaN  Aggregates
           Arab World               -0.003420  Aggregates
           Arab World                     NaN  Aggregates
           Arab World                     NaN  Aggregates
           Arab World                     NaN  Aggregates
...                                       ...         ...
NaN        Sub-Saharan Africa             NaN         NaN
           Sub-Saharan Africa             NaN         NaN
           Sub-Saharan Africa       -0.001667         NaN
           Sub-Saharan Africa             NaN         NaN
           Sub-Saharan Africa             NaN         NaN

[15576 rows x 6 columns]

In [73]:
filas = ["Europe & Central Asia", "North America"] #utilizando el comando LOC, vamos a quedarnos con los casos que tengan como index la región de europa central asia y norte america.
lamigra= migra_2.loc[filas, :]
lamigra

                                     year   population  pop_density  \
region                country
Europe & Central Asia Albania        2018    2866376.0   104.612263
                      Albania        2017    2873457.0   104.870693
                      Albania        2016    2876101.0   104.967190
                      Albania        2015    2880703.0   105.135146
                      Albania        2014    2889104.0   105.441752
...                                   ...          ...          ...
North America         United States  1964  191889000.0    20.950959
                      United States  1963  189242000.0    20.661953
                      United States  1962  186538000.0    20.366723
                      United States  1961  183691000.0    20.055880
                      United States  1960  180671000.0          NaN

                                     net_migration  migration_perc  \
region                country
Europe & Central Asia Albania                  NaN             NaN
                      Albania             -69998.0       -0.024360
                      Albania                  NaN             NaN
                      Albania                  NaN             NaN
                      Albania                  NaN             NaN
...                                            ...             ...
North America         United States            NaN             NaN
                      United States            NaN             NaN
                      United States      1835728.0        0.009841
                      United States            NaN             NaN
                      United States            NaN             NaN

                                             incomeLevel
region                country
Europe & Central Asia Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
...                                                  ...
North America         United States          High income
                      United States          High income
                      United States          High income
                      United States          High income
                      United States          High income

[3599 rows x 6 columns]

Como los Censos son cada 5 años, se ha utilizado el comando DROPNA para eliminar los valores perdidos de los años que no hubo conteo.

In [74]:
lamigra = lamigra.dropna()
lamigra

                                     year   population  pop_density  \
region                country
Europe & Central Asia Albania        2017    2873457.0   104.870693
                      Albania        2012    2900401.0   105.854051
                      Albania        2007    2970017.0   108.394781
                      Albania        2002    3051010.0   111.350730
                      Albania        1997    3148281.0   114.900766
...                                   ...          ...          ...
North America         United States  1982  231664000.0    25.293701
                      United States  1977  220239000.0    24.046289
                      United States  1972  209896000.0    22.917012
                      United States  1967  198712000.0    21.695913
                      United States  1962  186538000.0    20.366723

                                     net_migration  migration_perc  \
region                country
Europe & Central Asia Albania             -69998.0       -0.024360
                      Albania            -136590.0       -0.047093
                      Albania            -217358.0       -0.073184
                      Albania            -176774.0       -0.057940
                      Albania            -179606.0       -0.057049
...                                            ...             ...
North America         United States      3382460.0        0.014601
                      United States      3770881.0        0.017122
                      United States      2889346.0        0.013766
                      United States      1556054.0        0.007831
                      United States      1835728.0        0.009841

                                             incomeLevel
region                country
Europe & Central Asia Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
...                                                  ...
North America         United States          High income
                      United States          High income
                      United States          High income
                      United States          High income
                      United States          High income

[590 rows x 6 columns]

Ahora imaginemos que queremos hacer un análisis de cómo ha ido evolucionando la migración en los continentes seleccionados. 

Por tanto, buscaremos quedarnos con los casos de los países, según 7 años clave para ver la evolución: 1987, 1992, 1997, 2002, 2007, 2012, 2017

In [75]:
lamigra = lamigra[lamigra.year.isin([1987, 1992, 1997, 2002, 2007, 2012, 2017])]
lamigra

                                     year   population  pop_density  \
region                country
Europe & Central Asia Albania        2017    2873457.0   104.870693
                      Albania        2012    2900401.0   105.854051
                      Albania        2007    2970017.0   108.394781
                      Albania        2002    3051010.0   111.350730
                      Albania        1997    3148281.0   114.900766
...                                   ...          ...          ...
North America         United States  2007  301231207.0    32.878611
                      United States  2002  287625193.0    31.393550
                      United States  1997  272657000.0    29.769428
                      United States  1992  256514000.0    28.006892
                      United States  1987  242289000.0    26.453768

                                     net_migration  migration_perc  \
region                country
Europe & Central Asia Albania             -69998.0       -0.024360
                      Albania            -136590.0       -0.047093
                      Albania            -217358.0       -0.073184
                      Albania            -176774.0       -0.057940
                      Albania            -179606.0       -0.057049
...                                            ...             ...
North America         United States      5428756.0        0.018022
                      United States      5334893.0        0.018548
                      United States      8859954.0        0.032495
                      United States      4463754.0        0.017402
                      United States      3366853.0        0.013896

                                             incomeLevel
region                country
Europe & Central Asia Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
                      Albania        Upper middle income
...                                                  ...
North America         United States          High income
                      United States          High income
                      United States          High income
                      United States          High income
                      United States          High income

[350 rows x 6 columns]

In [76]:
lamigra.info()
lamigra = lamigra.reset_index() #vamos a resetear los indices para poder hacer bien los gráficos
lamigra.info() #aquí ya tenemos las variables nuevamente como antes.

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 350 entries, ('Europe & Central Asia', 'Albania') to ('North America', 'United States')
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            350 non-null    int64
 1   population      350 non-null    float64
 2   pop_density     350 non-null    float64
 3   net_migration   350 non-null    float64
 4   migration_perc  350 non-null    float64
 5   incomeLevel     350 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 28.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          350 non-null    object
 1   country         350 non-null    object
 2   year            350 non-null    int64
 3   population      350 non-null    float64
 4   pop_density     350 non-null    float64
 5   net_migration   350 non-null    float64
 6   migration_perc  350 non-null    float64
 7   incomeLevel     350 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 22.0+ KB

**Ultimo subset**

Ahora, vamos a quedarnos con los países de EUROPA que tienen actualmente la mayor cantidad de migración. De esta manera, poder compararlos con los países de Norte América:

*   Alemania
*   España
*   Francia
*   Grecia
*   Italia

In [77]:
lamigra = lamigra.set_index(["country"]).sort_index()

In [78]:
lamigra

,region,year,population,pop_density,net_migration,migration_perc,incomeLevel
country,,,,,,,
Albania,Europe & Central Asia,2017,2873457.0,104.870693,-69998.0,-0.024360,Upper middle income
Albania,Europe & Central Asia,2012,2900401.0,105.854051,-136590.0,-0.047093,Upper middle income
Albania,Europe & Central Asia,2007,2970017.0,108.394781,-217358.0,-0.073184,Upper middle income
Albania,Europe & Central Asia,2002,3051010.0,111.350730,-176774.0,-0.057940,Upper middle income
Albania,Europe & Central Asia,1997,3148281.0,114.900766,-179606.0,-0.057049,Upper middle income
...,...,...,...,...,...,...,...
Uzbekistan,Europe & Central Asia,1997,23667000.0,55.634697,-242636.0,-0.010252,Lower middle income
Uzbekistan,Europe & Central Asia,2007,26868000.0,63.159379,-140130.0,-0.005215,Lower middle income
Uzbekistan,Europe & Central Asia,2012,29774500.0,69.991772,-66469.0,-0.002232,Lower middle income
Uzbekistan,Europe & Central Asia,2017,32388600.0,76.136812,-44314.0,-0.001368,Lower middle income
Uzbekistan,Europe & Central Asia,2002,25271850.0,59.407264,-242297.0,-0.009588,Lower middle income

In [79]:
#listo, nos quedamos con los países de interés
lamigra
celdas = ["Spain", "Greece", "France", "Italy", "Germany", "United States", "Canada"]
lamigra = lamigra.loc[celdas, : ]
lamigra

,region,year,population,pop_density,net_migration,migration_perc,incomeLevel
country,,,,,,,
Spain,Europe & Central Asia,2007,45226803.0,90.614901,2273848.0,0.050277,High income
Spain,Europe & Central Asia,2017,46593236.0,93.267804,200000.0,0.004292,High income
Spain,Europe & Central Asia,2012,46773055.0,93.506837,-520442.0,-0.011127,High income
Spain,Europe & Central Asia,1987,38684815.0,77.456381,-67680.0,-0.001750,High income
Spain,Europe & Central Asia,1992,39157685.0,78.403182,319270.0,0.008153,High income
Spain,Europe & Central Asia,1997,40057389.0,80.204607,931072.0,0.023243,High income
Spain,Europe & Central Asia,2002,41431558.0,83.022519,2908209.0,0.070193,High income
Greece,Europe & Central Asia,2012,11045011.0,85.686664,-161799.0,-0.014649,High income
Greece,Europe & Central Asia,2017,10754679.0,83.434282,-80000.0,-0.007439,High income
Greece,Europe & Central Asia,1987,10000595.0,77.584135,178887.0,0.017888,High income
Greece,Europe & Central Asia,1992,10399061.0,80.675415,459178.0,0.044156,High income
Greece,Europe & Central Asia,1997,10661259.0,82.709535,297431.0,0.027898,High income
Greece,Europe & Central Asia,2002,10902022.0,84.577362,113586.0,0.010419,High income
Greece,Europe & Central Asia,2007,11048473.0,85.713522,-370769.0,-0.033558,High income
France,Europe & Central Asia,2007,64016225.0,116.912442,446120.0,0.006969,High income
France,Europe & Central Asia,2002,61805267.0,112.872521,926483.0,0.014990,High income
France,Europe & Central Asia,1997,59964851.0,109.511637,193631.0,0.003229,High income
France,Europe & Central Asia,1992,58851217.0,107.477848,122170.0,0.002076,High income
France,Europe & Central Asia,1987,57302663.0,104.649780,276383.0,0.004823,High income
France,Europe & Central Asia,2017,66865144.0,122.115405,182636.0,0.002731,High income
France,Europe & Central Asia,2012,65659809.0,119.914109,423831.0,0.006455,High income
Italy,Europe & Central Asia,2017,60536709.0,205.809169,744713.0,0.012302,High income
Italy,Europe & Central Asia,2012,59539717.0,202.419654,1637369.0,0.027500,High income
Italy,Europe & Central Asia,1987,56601931.0,192.451569,-10058.0,-0.000178,High income
Italy,Europe & Central Asia,2007,58438310.0,198.675155,1050948.0,0.017984,High income
Italy,Europe & Central Asia,2002,57059007.0,194.005668,1664343.0,0.029169,High income
Italy,Europe & Central Asia,1997,56890372.0,193.432294,-298237.0,-0.005242,High income
Italy,Europe & Central Asia,1992,56797087.0,193.115117,152825.0,0.002691,High income
Germany,Europe & Central Asia,2002,82488495.0,236.451571,824445.0,0.009995,High income
Germany,Europe & Central Asia,1997,82034771.0,235.022980,715944.0,0.008727,High income
Germany,Europe & Central Asia,2007,82266372.0,235.943362,43087.0,0.000524,High income
Germany,Europe & Central Asia,2012,80425823.0,230.750625,1938576.0,0.024104,High income
Germany,Europe & Central Asia,2017,82657002.0,236.595495,2719112.0,0.032896,High income
Germany,Europe & Central Asia,1987,77839920.0,222.953971,1683737.0,0.021631,High income
Germany,Europe & Central Asia,1992,80624598.0,230.930020,2628459.0,0.032601,High income
United States,North America,2007,301231207.0,32.878611,5428756.0,0.018022,High income
United States,North America,1997,272657000.0,29.769428,8859954.0,0.032495,High income
United States,North America,2012,313874218.0,34.312868,4961716.0,0.015808,High income
United States,North America,2017,325147121.0,35.545227,4774029.0,0.014683,High income
United States,North America,2002,287625193.0,31.393550,5334893.0,0.018548,High income
United States,North America,1987,242289000.0,26.453768,3366853.0,0.013896,High income
United States,North America,1992,256514000.0,28.006892,4463754.0,0.017402,High income
Canada,North America,1987,26446601.0,2.908294,859217.0,0.032489,High income
Canada,North America,2007,32889025.0,3.616758,1326431.0,0.040331,High income
Canada,North America,2002,31360079.0,3.448622,1052013.0,0.033546,High income
Canada,North America,1997,29905948.0,3.288713,783535.0,0.026200,High income
Canada,North America,1992,28371264.0,3.119946,690555.0,0.024340,High income
Canada,North America,2012,34714222.0,3.817472,1241416.0,0.035761,High income
Canada,North America,2017,36540268.0,4.018280,1210159.0,0.033119,High income

In [80]:
lamigra = lamigra.reset_index() #vamos a resetear los indices para poder hacer bien los gráficos
lamigra.info() #aquí ya tenemos las variables nuevamente como antes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         49 non-null     object
 1   region          49 non-null     object
 2   year            49 non-null     int64
 3   population      49 non-null     float64
 4   pop_density     49 non-null     float64
 5   net_migration   49 non-null     float64
 6   migration_perc  49 non-null     float64
 7   incomeLevel     49 non-null     object
dtypes: float64(4), int64(1), object(3)
memory usage: 3.2+ KB

Ultimas modificaciones y limpiezas antes de hacer los gráficos

In [81]:
#vamos eliminando las variables innecesarias
columnas = ["country", "region", "year", "population", "pop_density", "net_migration", "migration_perc", "incomeLevel" ]
lamigra = lamigra.loc[:, columnas]
lamigra

,country,region,year,population,pop_density,net_migration,migration_perc,incomeLevel
0,Spain,Europe & Central Asia,2007,45226803.0,90.614901,2273848.0,0.050277,High income
1,Spain,Europe & Central Asia,2017,46593236.0,93.267804,200000.0,0.004292,High income
2,Spain,Europe & Central Asia,2012,46773055.0,93.506837,-520442.0,-0.011127,High income
3,Spain,Europe & Central Asia,1987,38684815.0,77.456381,-67680.0,-0.001750,High income
4,Spain,Europe & Central Asia,1992,39157685.0,78.403182,319270.0,0.008153,High income
5,Spain,Europe & Central Asia,1997,40057389.0,80.204607,931072.0,0.023243,High income
6,Spain,Europe & Central Asia,2002,41431558.0,83.022519,2908209.0,0.070193,High income
7,Greece,Europe & Central Asia,2012,11045011.0,85.686664,-161799.0,-0.014649,High income
8,Greece,Europe & Central Asia,2017,10754679.0,83.434282,-80000.0,-0.007439,High income
9,Greece,Europe & Central Asia,1987,10000595.0,77.584135,178887.0,0.017888,High income
10,Greece,Europe & Central Asia,1992,10399061.0,80.675415,459178.0,0.044156,High income
11,Greece,Europe & Central Asia,1997,10661259.0,82.709535,297431.0,0.027898,High income
12,Greece,Europe & Central Asia,2002,10902022.0,84.577362,113586.0,0.010419,High income
13,Greece,Europe & Central Asia,2007,11048473.0,85.713522,-370769.0,-0.033558,High income
14,France,Europe & Central Asia,2007,64016225.0,116.912442,446120.0,0.006969,High income
15,France,Europe & Central Asia,2002,61805267.0,112.872521,926483.0,0.014990,High income
16,France,Europe & Central Asia,1997,59964851.0,109.511637,193631.0,0.003229,High income
17,France,Europe & Central Asia,1992,58851217.0,107.477848,122170.0,0.002076,High income
18,France,Europe & Central Asia,1987,57302663.0,104.649780,276383.0,0.004823,High income
19,France,Europe & Central Asia,2017,66865144.0,122.115405,182636.0,0.002731,High income
20,France,Europe & Central Asia,2012,65659809.0,119.914109,423831.0,0.006455,High income
21,Italy,Europe & Central Asia,2017,60536709.0,205.809169,744713.0,0.012302,High income
22,Italy,Europe & Central Asia,2012,59539717.0,202.419654,1637369.0,0.027500,High income
23,Italy,Europe & Central Asia,1987,56601931.0,192.451569,-10058.0,-0.000178,High income
24,Italy,Europe & Central Asia,2007,58438310.0,198.675155,1050948.0,0.017984,High income
25,Italy,Europe & Central Asia,2002,57059007.0,194.005668,1664343.0,0.029169,High income
26,Italy,Europe & Central Asia,1997,56890372.0,193.432294,-298237.0,-0.005242,High income
27,Italy,Europe & Central Asia,1992,56797087.0,193.115117,152825.0,0.002691,High income
28,Germany,Europe & Central Asia,2002,82488495.0,236.451571,824445.0,0.009995,High income
29,Germany,Europe & Central Asia,1997,82034771.0,235.022980,715944.0,0.008727,High income
30,Germany,Europe & Central Asia,2007,82266372.0,235.943362,43087.0,0.000524,High income
31,Germany,Europe & Central Asia,2012,80425823.0,230.750625,1938576.0,0.024104,High income
32,Germany,Europe & Central Asia,2017,82657002.0,236.595495,2719112.0,0.032896,High income
33,Germany,Europe & Central Asia,1987,77839920.0,222.953971,1683737.0,0.021631,High income
34,Germany,Europe & Central Asia,1992,80624598.0,230.930020,2628459.0,0.032601,High income
35,United States,North America,2007,301231207.0,32.878611,5428756.0,0.018022,High income
36,United States,North America,1997,272657000.0,29.769428,8859954.0,0.032495,High income
37,United States,North America,2012,313874218.0,34.312868,4961716.0,0.015808,High income
38,United States,North America,2017,325147121.0,35.545227,4774029.0,0.014683,High income
39,United States,North America,2002,287625193.0,31.393550,5334893.0,0.018548,High income
40,United States,North America,1987,242289000.0,26.453768,3366853.0,0.013896,High income
41,United States,North America,1992,256514000.0,28.006892,4463754.0,0.017402,High income
42,Canada,North America,1987,26446601.0,2.908294,859217.0,0.032489,High income
43,Canada,North America,2007,32889025.0,3.616758,1326431.0,0.040331,High income
44,Canada,North America,2002,31360079.0,3.448622,1052013.0,0.033546,High income
45,Canada,North America,1997,29905948.0,3.288713,783535.0,0.026200,High income
46,Canada,North America,1992,28371264.0,3.119946,690555.0,0.024340,High income
47,Canada,North America,2012,34714222.0,3.817472,1241416.0,0.035761,High income
48,Canada,North America,2017,36540268.0,4.018280,1210159.0,0.033119,High income

In [82]:
#vamos cambiando el nombre de los casos de europoa y asia....ya que nos hemos quedado con solo algunos paises importantes de la UE
lamigra.loc[lamigra ["region"] == "Europe & Central Asia", "region"] = "Europa principal"
lamigra

,country,region,year,population,pop_density,net_migration,migration_perc,incomeLevel
0,Spain,Europa principal,2007,45226803.0,90.614901,2273848.0,0.050277,High income
1,Spain,Europa principal,2017,46593236.0,93.267804,200000.0,0.004292,High income
2,Spain,Europa principal,2012,46773055.0,93.506837,-520442.0,-0.011127,High income
3,Spain,Europa principal,1987,38684815.0,77.456381,-67680.0,-0.001750,High income
4,Spain,Europa principal,1992,39157685.0,78.403182,319270.0,0.008153,High income
5,Spain,Europa principal,1997,40057389.0,80.204607,931072.0,0.023243,High income
6,Spain,Europa principal,2002,41431558.0,83.022519,2908209.0,0.070193,High income
7,Greece,Europa principal,2012,11045011.0,85.686664,-161799.0,-0.014649,High income
8,Greece,Europa principal,2017,10754679.0,83.434282,-80000.0,-0.007439,High income
9,Greece,Europa principal,1987,10000595.0,77.584135,178887.0,0.017888,High income
10,Greece,Europa principal,1992,10399061.0,80.675415,459178.0,0.044156,High income
11,Greece,Europa principal,1997,10661259.0,82.709535,297431.0,0.027898,High income
12,Greece,Europa principal,2002,10902022.0,84.577362,113586.0,0.010419,High income
13,Greece,Europa principal,2007,11048473.0,85.713522,-370769.0,-0.033558,High income
14,France,Europa principal,2007,64016225.0,116.912442,446120.0,0.006969,High income
15,France,Europa principal,2002,61805267.0,112.872521,926483.0,0.014990,High income
16,France,Europa principal,1997,59964851.0,109.511637,193631.0,0.003229,High income
17,France,Europa principal,1992,58851217.0,107.477848,122170.0,0.002076,High income
18,France,Europa principal,1987,57302663.0,104.649780,276383.0,0.004823,High income
19,France,Europa principal,2017,66865144.0,122.115405,182636.0,0.002731,High income
20,France,Europa principal,2012,65659809.0,119.914109,423831.0,0.006455,High income
21,Italy,Europa principal,2017,60536709.0,205.809169,744713.0,0.012302,High income
22,Italy,Europa principal,2012,59539717.0,202.419654,1637369.0,0.027500,High income
23,Italy,Europa principal,1987,56601931.0,192.451569,-10058.0,-0.000178,High income
24,Italy,Europa principal,2007,58438310.0,198.675155,1050948.0,0.017984,High income
25,Italy,Europa principal,2002,57059007.0,194.005668,1664343.0,0.029169,High income
26,Italy,Europa principal,1997,56890372.0,193.432294,-298237.0,-0.005242,High income
27,Italy,Europa principal,1992,56797087.0,193.115117,152825.0,0.002691,High income
28,Germany,Europa principal,2002,82488495.0,236.451571,824445.0,0.009995,High income
29,Germany,Europa principal,1997,82034771.0,235.022980,715944.0,0.008727,High income
30,Germany,Europa principal,2007,82266372.0,235.943362,43087.0,0.000524,High income
31,Germany,Europa principal,2012,80425823.0,230.750625,1938576.0,0.024104,High income
32,Germany,Europa principal,2017,82657002.0,236.595495,2719112.0,0.032896,High income
33,Germany,Europa principal,1987,77839920.0,222.953971,1683737.0,0.021631,High income
34,Germany,Europa principal,1992,80624598.0,230.930020,2628459.0,0.032601,High income
35,United States,North America,2007,301231207.0,32.878611,5428756.0,0.018022,High income
36,United States,North America,1997,272657000.0,29.769428,8859954.0,0.032495,High income
37,United States,North America,2012,313874218.0,34.312868,4961716.0,0.015808,High income
38,United States,North America,2017,325147121.0,35.545227,4774029.0,0.014683,High income
39,United States,North America,2002,287625193.0,31.393550,5334893.0,0.018548,High income
40,United States,North America,1987,242289000.0,26.453768,3366853.0,0.013896,High income
41,United States,North America,1992,256514000.0,28.006892,4463754.0,0.017402,High income
42,Canada,North America,1987,26446601.0,2.908294,859217.0,0.032489,High income
43,Canada,North America,2007,32889025.0,3.616758,1326431.0,0.040331,High income
44,Canada,North America,2002,31360079.0,3.448622,1052013.0,0.033546,High income
45,Canada,North America,1997,29905948.0,3.288713,783535.0,0.026200,High income
46,Canada,North America,1992,28371264.0,3.119946,690555.0,0.024340,High income
47,Canada,North America,2012,34714222.0,3.817472,1241416.0,0.035761,High income
48,Canada,North America,2017,36540268.0,4.018280,1210159.0,0.033119,High income

**VISUALIZACIÓN DE DATOS**

Finalmente vamos a realizar la visualización de datos

In [83]:
import altair as alt

**Visualizando el porcentaje de migración por paises**

x: años
y: migración porcentual
colores: países
leyenda: países

In [84]:
alt.Chart(lamigra).mark_line().encode(
    x = alt.X("year:Q", scale=alt.Scale(domain=[1985, 2020])),
    y = alt.Y("migration_perc:Q"),
    color = alt.Color("country"),
    column = alt.Column("region"),
    tooltip = ["country", "migration_perc"]
    ).interactive()

alt.Chart(...)

**CONCLUSIÓN:**

Viendo los gráficos realizados, podemos evaluar la evolución de la migración en los países de europa (escogidos) y la evolución de la migración en Usa y Canadá. Esto para los últimos 30 años. 

Como se ve, es interesante evidenciar que países como Grecia tuvo un declive muy fuerte en temas migratorios entrados los años 2000's, justamente por la etapa en que comenzó la crisis económica del 2008. 

También es notable, y cercano a la realidad, el incremento de la migración que ha vivido Alemania desde los últimos 10 años. Actualmente, en dicho país, hay una gran ola de migrantes de distintas partes de África, y ahora se incrementaría más con la población migrante de Ucrania. 

Llama la atención, aunque no es tan trillado pensarlo, que la migración en USA se haya mantenido estable, y en los ultimos años haya caído. El sueño americano ya no es lo que era antes, su atractivo para migración ya no es el mismo.